.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGYtczcwLWFlLTMwNzlhXzEuanBn.jpg');
  background-size: cover; 
  background-position: center;
}

.login-box {
  background-color: #f3e5f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 80px;
  width: 450px;
  text-align: center;
}

  
 
  