.button-box {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.button-box button {
    margin-right: 10px;
}

.page-description {
    background: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGYtczcwLWFlLTMwNzlhXzEuanBn.jpg') no-repeat center center fixed;
    background-size: cover;
    border-radius: 5px;
    padding: 30px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}