.connection-box {
    background-color:#e7e8ee; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 80px; 
    width: 450px; 
    text-align: center;
  }
  .title {
    font-size: 1.0rem; 
    font-weight: bold; 
    color: #007993; 
    margin-bottom: 50px; 
  }