<div class="page-description">
    <div class="container-buttons">
    <button class="btn btn-secondary small-btn" (click)="navigateToDevices()">See Devices</button>
    <button class="btn btn-secondary small-btn" (click)="displayUserInfo()">My Profile</button>
    <button class="btn btn-secondary small-btn" (click)="navigateToHistoricalEnergy()">Historical Energy</button>
    <button class="btn btn-secondary small-btn" (click)="chatWithAdmin()">
      <span class="material-icons">chat</span> 
    </button>
    </div>
    <div *ngIf="displayUser"  class="user-info-box">
      <h3>User Information</h3>
      <p><strong>Name:</strong> {{ loggedUser.name }}</p>
      <p><strong>Password:</strong> {{ loggedUser.password }}</p>
      <p><strong>Email:</strong>{{loggedUser.email}}</p>
      <p><strong>ID:</strong>{{loggedUser.id}}</p>
    </div>
    <router-outlet></router-outlet>
  </div>

  